[profile.default]
src = 'src'
out = 'out'
libs = ['lib']
solc = '0.8.19'

# Optimizer
optimizer = true
optimizer_runs = 200

# Metadata
bytecode_hash = "ipfs"
sparse_mode = true

# Testing
fuzz_runs = 256
invariant_runs = 256

# Verbosity
verbosity = 1

# Extra output
extra_output = ["metadata", "storageLayout"]

# Forking
# https://sepolia.infura.io/v3/37f9d223ad3f412687ad9560b571b4de
eth_rpc_url = "${SEPOLIA_RPC_URL}" 

[fmt]
line_length = 120